body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategrey;
    margin: 0;
    padding: 0;
}

h1,h2 {
    margin: 20px 0;
    color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color: chocolate;
    font-size: 18px;
}

.signature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

canvas {
    border: 2px solid aliceblue;
    border-radius: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#clear-btn{
    background-color: red;
}

#save-btn{
    background-color: #4CAF50;
}

#save-btn:hover{
    background-color: green;
}

#clear-btn:hover {
    background-color: brown;
}

#download-link {
    font-size: 16px;
    color: #4CAF50;
    text-decoration: none;
}
